@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="Update" method="post">
    Id:<input type="number" name="id"/><br/>
    Name:<input type="text" name="name" /><br />
    Registration-Date:<input type="date" name="reg_date" /><br />
    Address:<input type="text" name="address" /><br />
    Mobile Number:<input type="text" name="mob_num" /><br />
    Email:<input type="text" name="email" /><br />
    Password:<input type="text" name="password" /><br />
    <input type="submit" name="Add Product" />
</form>
