@{
    ViewData["Title"] = "Home Page";
}

<style>
    .display-4{
        color:forestgreen;

    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to Green Basket</h1>
   <img src="~/GreenBasket.png" alt="Alternate Text" />
</div>
